
<!-- Upload a new cocktail with a photo -->
<div class="row new-cocktail-form">
  <div class="col-md-4 offset-md-4">
  <h1>Add a cocktail</h1> 
  <%= render 'form', cocktail: @cocktail %>
  </div>
</div>

<!-- Footer -->
<%= render 'footer', cocktail: @cocktail %>

